.slide-wrapper {
  position: relative;
  text-align: center;
}

.slide-container {
  background-color: grey;
  max-height: 400px;
  margin: 0;
  position: relative;
  overflow: hidden;
  text-align: left;
}

.slides {
  font-size: 0;
  height: 100%;
  white-space: nowrap;
  width: 100%;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slide {
  display: inline-block;
  font-size: 70px;
  height: 100%;
  line-height: 300px;
  text-align: center;
  white-space: normal;
  vertical-align: middle;
  width: 100%;
}

.slide-handle {
  font-size: 140px;
  line-height: 110px;
}
.active {
  color: red;
}

.slide-prev,
.slide-next {
  cursor: pointer;
  font-size: 40px;
  height: 50px;
  position: absolute;
  top: 175px;
  width: 50px;
}
.slide-next {
  right: 0;
}
.slide-prev.state-disabled,
.slide-next.state-disabled {
  display: none;
}